#main-container {
  position: relative;
  border-left: 1px solid #e4e2e3;
  border-right: 1px solid #e4e2e3;
  border-bottom: 1px solid #e4e2e3;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  max-width: 70%;
  padding: 0 2% 2% 2%;
}

#main-headers h1 {
  color: #01a7e1;
  font-size: 24px;
  font-weight: 700;
}

#main-headers h2 {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin-left: 20px;
}

#main-headers {
  line-height: 1.2;
}

#main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
  line-height: 2;
}

#image-object-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#image-object-container img {
  width: 275px;
  height: 180px;
  object-fit: cover;
  border: 2px solid #01a7e1;
}

.image-object {
  position: relative;
}

.image-object:hover .image-text {
  transition: 0.2s;
  opacity: 1;
}

.image-text {
  transition: 0.2s;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #01a5e171;
  color: white;
  line-height: 1.2;
  opacity: 0;
  cursor: pointer;
}

.image-text h1 {
  font-size: 18px;
  font-weight: 600;
}

.image-text h3 {
  font-weight: 300;
}

#footer {
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0;
  bottom: 0;
  background-color: #f4f4f4;
  z-index: 3;
}
